# Specific
/tags
*.stackdump
core

# Outputs this distribution generates
.onlysome.yml
t/*.out

# Dist
Test-OnlySome-*
Test-OnlySome-*.tar.gz

# Editor
*.bak
*~
~*
*.swp
*.tmp

# From Module::Starter's ignore.txt:
.lwpcookies
pod2htm*.tmp

# from GitHub's perl .gitignore:
!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# Capture::Tiny
DEBUG*

# App::FatPacker
*.trace

# App::cpm
/local/

# Saved dist tarballs
/zip/
